[submodule "api"]
	path = api
	url = https://github.com/zh3nhua94/autumn-ecommerce-api.git
[submodule "client"]
	path = client
	url = https://github.com/zh3nhua94/autumn-client.git
[submodule "admin"]
	path = admin
	url = https://github.com/zh3nhua94/autumn-dashboard.git
